<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<div class="card bg-base-200 shadow-sm sm:w-full md:m-4 md:w-96">
  <h2 class="card-title">Вход</h2>
  <%= form_with url: session_path do |form| %>
    <div class="card-body">
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Ник</legend>
        <%= form.email_field :name,
                             required: true,
                             autofocus: true,
                             autocomplete: "username",
                             placeholder: "Введите свой ник",
                             class: "input",
                             value: params[:name] %>
      </fieldset>
      <fieldset class="fieldset">
        <legend class="fieldset-legend">Пароль</legend>
        <%= form.password_field :password,
                                required: true,
                                autocomplete: "current-password",
                                placeholder: "Введите пароль",
                                class: "input",
                                maxlength: 72 %>
      </fieldset>
    </div>
    <div class="divider">
      Нет аккаунта? <%= link_to "Зарегистрироваться", new_user_path, class: "link link-secondary" %>
    </div>

    <div class="card-actions justify-center p-2">
      <%= form.submit "Вход", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
